html {
  background-color: rgb(58, 220, 211);
  background-image: url("https://wallpapercave.com/wp/v0sGHeD.jpg");
}

.app {
  
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,255,234,1) 100%);
  height: auto;
}

.form {
  width: 170px;
  height: 25px;
  border-radius: 5px;
}

.submit {
  height: 31px;
  border-radius: 5px;
  color: black;
}